@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #171525;
    --text-color: #dadada;
    --primary: #7552dd;
    --primary-transparent: #7552dd36;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend";
    background-color: var(--bg-color);
    color: var(--text-color);
    letter-spacing: 1px;
}

/* TEXT STYLE */

::selection {
    background: var(--primary);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* FONT WEIGHTS */
.text-semibold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

/* FLEX CLASSES */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* SIDEBAR LAYOUT */
.sidebar {
    width: 45%;
    height: 100%;
    padding: 50px;
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    text-align: right;
    font-size: 1rem;
    gap: 30px;
    user-select: none;
}

.sidebar__header {
    align-items: flex-end;
    gap: 20px;
}

.header__title {
    padding: 10px 0;
    border-top: 4px solid var(--tertiary);
    border-bottom: 4px solid var(--tertiary);
    border-radius: 4px;
    align-items: center;
}

.header__main-title { font-size: 2.6rem;}
.header__subtitle { font-size: 1.45rem;}

.sidebar__presentation {
    width: 60%;
    line-height: 26px;
}

.sidebar__navbar {
    justify-self:center;
}

.sidebar__navbar>ul {
    gap: 10px;
    align-items: flex-end;
    
}

.sidebar__links>ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links__item {
    font-size: 0.5rem;
    color: var(--secondary);
    cursor: pointer;
    transition: color 150ms ease-in;
}

.links__item:hover {
    color: var(--tertiary);
}

/* BUTTON */

.btn {
    border-bottom: 4px solid var(--secondary);
    padding: 7px 0px;
    cursor:pointer;
    transform: scale(100%);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.btn:hover {
    transform: scale(120%);

}

.animated {
    position: relative;
}

.animated::before {
    content:'';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    border-bottom: 4px solid var(--tertiary);
    z-index: 1;
    transition: transform 400ms ease-in-out;
    transform: scaleX(0%);
    transform-origin: left;
}

.animated:hover::before, .animated.active::before {
    transform: scaleX(100%);
}

/* MAIN LAYOUT */
main {
    margin-left: 45%;
    width: 35%;
    padding: 50px;
    padding-top: 0;
    font-weight: 300;
    font-size: 1rem;
}

main p {
    margin-bottom: 20px;
    line-height: 24px;

}

.section__title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 15px;
    position: relative;
    user-select: none;
}

.section__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid var(--primary);
    border-left: 5px solid var(--primary);
    width: 350px;
    height: 25px;
    border-radius: 4px;
}

/* CARD STYLE */
.card {
    border-radius: 16px;
    padding: 15px;
    transition: 200ms ease-in;
}

.card:hover {
    background-color: var(--primary-transparent);

}

.card-header {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.card-orga {
    font-weight: 600;
}

.card-function {
    font-weight: 300;
}