@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #0f0e17;
    --text-color: #dadada;
    --primary: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

body {
    font-family: "Lexend";
    background-color: #0f0e17;
    color: var(--text-color);
    
}

/* FONT WEIGHTS */
.text-semibold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}

/* FLEX CLASSES */
.flex-column {
    display: flex;
    flex-direction: column;
}


/* SIDEBAR LAYOUT */
.sidebar {
    width: 50%;
    height: 100%;
    padding: 50px;
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    text-align: right;
    font-size: 18px;
    gap: 30px;
    user-select: none;
}

.sidebar__header {
    align-items: flex-end;
    gap: 20px;
}

.header__title {
    padding: 15px 0;
    border-top: 4px solid var(--tertiary);
    border-bottom: 4px solid var(--tertiary);
    align-items: center;
}

.header__main-title { font-size: 42px; }
.header__subtitle { font-size: 24px; }

.sidebar__presentation {
    width: 60%;
    line-height: 26px;
}

.sidebar__navbar>ul {
    gap: 10px;
    align-items: flex-end;
    
}
.sidebar__navbar>ul>li {
    border: 2px solid var(--secondary);
    border-bottom: 4px solid var(--secondary);
    padding: 10px 30px;
}

.sidebar__navbar>ul>li.active {
    border: 2px solid var(--tertiary);
    border-bottom: 4px solid var(--tertiary);
}

a {
    text-decoration: none;
    color: black;
}

.sidebar__links>ul {
    display: flex;
    gap: 10px;
}

.links__item {
    font-size: 35px;
    color: var(--secondary);
}

/* MAIN LAYOUT */
main {
    margin-left: 50%;
    width: 30%;
    padding: 50px;
    font-weight: 300;
    font-size: 16px;
}

main p {
    margin-bottom: 20px;
    line-height: 24px;

}